#root {
  box-sizing: border-box;
  background-color: antiquewhite;
  height: 100%;
  width: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
} 
